# Ignore node_modules directory
node_modules/

# Optionally ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files (if applicable)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build output (optional, depends on your project structure)
dist/
build/

# Ignore editor directories and OS files (optional)
.vscode/
.idea/
*.DS_Store
